.messageContainer {
    box-shadow: 0px 1px 2px 1px #bdbdbd;
    border-radius: 2px;
    max-width: 30em;
    padding: 2em;
    margin: 0 auto;
    background-color: white;
}

.logo {
    width: 1.5em;
    vertical-align: bottom;
    padding-right: 0.5em;
}

.brand {
    background-color: #ffffff78;
    padding: 0.5em;
    border-radius: 8px;
}

code {
    white-space: pre-wrap;
}

pre {
    box-shadow: 0px 1px 2px 1px #bdbdbd;
    padding: 0.5em;
}
