/DebugTools/MinecraftClientProxy.suo
/DebugTools/MinecraftClientProxy.v11.suo
/MinecraftClient.v11.suo
/MinecraftClient.suo
/MinecraftClientGUI.v11.suo
/MinecraftClientGUI.suo
/MinecraftClient.userprefs
/Other/
/.vs/
SessionCache.ini
