name: Build Documents

on:
  schedule:
    - cron: '45 0 * * *'
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: 'true'

    - name: Download translations from crowdin
      uses: crowdin/github-action@v1.6.0
      with:
        upload_sources: false
        upload_translations: false
        download_translations: true

        localization_branch_name: l10n_master
        create_pull_request: false 
        push_translations: false

        base_path: ${{ github.workspace }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_TOKEN }}

    - name: Deploy Documentation Site
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
        TARGET_REPO: MCCTeam/MCCTeam.github.io
        TARGET_BRANCH: master
        BUILD_SCRIPT: yarn --cwd ./docs/ && yarn --cwd ./docs/ docs:build
        BUILD_DIR: docs/.vuepress/dist
        COMMIT_MESSAGE: Build from ${{ github.sha }}
        CNAME: https://mccteam.github.io
