name: Deploy Document

on:
  push:
    branches:
      - master
    paths:
      - docs/**
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'SKIP_DEPLOY') }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
        TARGET_REPO: MCCTeam/MCCTeam.github.io
        TARGET_BRANCH: master
        BUILD_SCRIPT: yarn --cwd ./docs/ && yarn --cwd ./docs/ docs:build
        BUILD_DIR: docs/.vuepress/dist
        COMMIT_MESSAGE: Build from ${{ github.sha }}
        CNAME: https://mccteam.github.io
